html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Loader */

.loader {
  position: fixed;
  top: 80px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.loader.active {
  opacity: 1;
}

/* Navigation */

.navigation {
  margin-bottom: 50px;
}

.navigation > div {
  display: flex;
}

.navigation .logo {
  max-width: 40px;
  margin-right: 10px;
}

.navigation .company {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navigation .nav-list {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navigation .nav-list .nav-list-item {
  margin-left: 20px;
}

.navigation .nav-list .nav-list-item a {
  color: white;
}

.navigation .nav-list .nav-list-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation .nav-list .nav-list-item a img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* Form Dialog */
.form-dialog label + div {
  margin-bottom: 20px;
}

.form-dialog .med-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.form-dialog .med-list li {
  margin: 5px;
}

/* Journals */
.journal .title {
  margin-bottom: 10px;
}

.journal .date {
  margin-bottom: 20px;
}

.journals-wrapper {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
}

/* Entries */
.entries-wrapper {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
}

/* Notes */
form.add-note > div {
  margin-bottom: 20px;
}

.notes-wrapper {
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
}

.notes-wrapper .note {
  margin-bottom: 25px;
}

.notes-wrapper .note .title {
  font-weight: bold;
  display: block;
  border-bottom: 2px solid #3f51b5;
  margin-bottom: 20px;
}

/* General */
.item-bar {
  background: white;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.item-bar .editor-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.item-bar .editor-icons .edit {
  color: #3f51b5;
}

.item-bar .editor-icons .delete {
  color: red;
  cursor: pointer;
}

.back-to {
  display: inline-block;
  margin-bottom: 10px;
  color: #3f51b5;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.back-to svg {
  margin-right: 5px;
}
